@charset "UTF-8";

html, body
{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.3em;
}

body {
  margin: 0;
	font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: #7E7E7E;
    overflow:hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.dark-theme select {
  border: 1px solid #222222;
  background-color: #111111;
  color: #d3d3d3;
}

.light-theme select {
  border: 1px solid #fff;
  background-color: #eee;
  color: #000;
}

select:focus {
  outline:none;
}

.ui-icon-gripsmall-diagonal-se {
    background-image: url("");
}
