@charset "UTF-8";

.olMap {
    position:relative;
    overflow:hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.light-theme .olMap {
	background-color: #fff;
}

.dark-theme .olMap {
    background-color: #111;
}

div.olControlZoom {
    right: 0px !important;
	margin-right: 10px !important;
	top: 10px !important;
	left: auto !important;
    z-index: 2999 !important;
    padding: 0px !important;
}

.light-theme div.olControlZoom {
    background: #999!important;
}

.dark-theme div.olControlZoom {
    background: #111!important;
}

.light-theme div.olControlZoom a {
    color: #444;
    background-color: #ebebeb!important;
}

.dark-theme div.olControlZoom a {
    color: #fff;
    background-color: #333!important;
}

.light-theme  div.olControlZoom a:hover {
    color: #444;
    background-color: #dbdbdb!important;
}

.dark-theme  div.olControlZoom a:hover {
    background-color: #222!important;
}

.baselayer-attribution {
    position: absolute;
    z-index: 9999 !important;
    font-size: 10px;
    background: none;
    bottom: 33px;
    left: 34px;
    opacity: 0.5;
}

.baselayer-attribution a {
    color: #0078A8;
}

.olLayerGoogleV3 {
    visibility:hidden !important;
}
