@charset "UTF-8";

.olMap {
    position:relative;
    overflow:hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.light-theme .olMap {
	background-color: #fff;
}

.dark-theme .olMap {
    background-color: #111;
}

div.olControlZoom {
	right: 10px !important;
	top: 60px !important;
	left:auto !important;
    z-index: 2999 !important; 
}

div.olHandlerBoxZoomBox {
    border: 2px solid rgba(128, 128, 128, 0.75);
    background-color: rgba(128, 128, 128, 0.5);
}

.olLayerGoogleV3 {
    visibility:hidden !important;
}