@charset "UTF-8";

.overlay-container {
    margin-bottom: 10px;
}

#top-left-overlay-quadrant {
    position:fixed;
    top: 10px;
    left: 42px;
}

#top-right-overlay-quadrant {
    position:fixed;
    top: 10px;
    right: 10px;
}

#bottom-left-overlay-quadrant {
    position:fixed;
    bottom: 32px;
    left: 42px;
}

#bottom-right-overlay-quadrant {
    position:fixed;
    bottom: 32px;
    right: 10px;
}

.overlay-header {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.overlay-header:hover {
    color: #FFFFFF;
    cursor:pointer;    
}

.overlay-content {
    position: relative;
    padding-top:1px;
    padding-bottom:1px;    
    padding-left:24px; 
    padding-right:24px;
    overflow:auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
