@charset "UTF-8";

/********************************************/
/* 		     Meta Data Renderer  	     	*/
/********************************************/

.meta-entry-parent {
	position: relative;
    float: right;
    right: 50%;
}

.meta-entry {
	float: right;
    right: -50%;
    position: relative;
    text-align: center;
    z-index: 1;
}

.meta-entry-label {
    position: relative;
    color: #FFFFFF;
	z-index: 1;
}

/********************************************/
/* 		     Text Score Renderer  	     	*/
/********************************************/

.text-score-entry-parent {
	position: relative;
    float: right;
    right: 50%;
    height: 34px;
}

.text-score-entry {
    cursor: pointer;
	float: right;
    right: -50%;
    position: relative;
    z-index: 1;
}

.text-score-label {
    position: relative;
	white-space: nowrap;
	max-width: 200px;
	overflow:hidden;
	text-overflow: ellipsis;
	z-index: 1;
}

.text-score-count-bar {
	position:absolute;
	height: 9px;
	width: 120px;
	margin-left: 50%;
	bottom: 0px;
	border: 1px solid #000000;
	z-index: 0;
}

.text-score-count-sub-bar {
	height:100%;
	float:left;
}

.count-summary {
	position:absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: #FFFFFF;
	font-size: 0.8em;
}

/********************************************/
/* 		  Text by Frequency Renderer  	  	*/
/********************************************/

.text-by-frequency-entry {
	position:absolute;
	width: 220px;
	height: 20px;
	left: 18px;
	z-index: 1;
}

.text-by-frequency-left {
	position: relative;
	float:left;
	padding-top:2px;
	padding-bottom:2px;
	width: 105px;
	height: 100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.text-by-frequency-right {
	position: relative;
	float:right;
	width: 115px;
	height: 100%;
}

.text-by-frequency-label {
	cursor: pointer;
	position:relative;
	bottom: -2px;
	padding: 3px;
	font-size : 16px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-by-frequency-bar {
	cursor: pointer;
	position: relative;
	float:left;
	bottom: 0px;
	border: 1px solid #000;
	margin-left: -1px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/********************************************/
/* 		     Word Cloud Renderer  	     	*/
/********************************************/

.word-cloud-label {
	cursor: pointer;
	position:absolute;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 5px;
	text-overflow: ellipsis;
}

.word-cloud-label-temp {
	position:relative;
	visibility:hidden;
	display: inline-block;
	padding: 0 5px 0 5px;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/********************************************/
/* 		    Graph Node Renderer    	    	*/
/********************************************/

.community-node {
	position:absolute;
	cursor:pointer;
	z-index:2;
}

.community-critical-node {
	position:absolute;
	cursor:pointer;
	z-index:3;
}

.community-parent-node {
	position:absolute;
	cursor:pointer;
	z-index:1;
}

/********************************************/
/* 	        Graph Label Renderer     	  	*/
/********************************************/

.node-label {
	position:absolute;	
	width: 256px;
	padding: 5px 0 5px 0;
	margin-left: -128px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
}

/********************************************/
/*             Point Annotation             */
/********************************************/

.point-annotation-aggregate {
    position:absolute;
    width: 0px;
    height: 0px;
    z-index: 0;
}

.point-annotation-aggregate:hover {
    z-index: 1;
}

.point-annotation {
    cursor: pointer;
    position:absolute;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    width: 8px;
    height: 8px;
    -webkit-transition: 0.1s ease-in-out;
       -moz-transition: 0.1s ease-in-out;
        -ms-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;
}

.point-annotation-fill {
    margin: -2px 2px 2px -2px;
    z-index: 2;
}

.point-annotation-border {
    pointer-events:none;
    margin: -4px 0 0 -4px;
    z-index: 1;
}

.point-annotation-single:hover.point-annotation {  
    width: 12px;
    height: 12px;
    margin: -2px 0px 0px -2px;
}

.point-annotation-aggregate:hover .point-annotation {  
    width: 12px;
    height: 12px;
}

.point-annotation-aggregate:hover .point-annotation-fill {
    margin: -4px 2px 2px -4px;
}

.point-annotation-aggregate:hover .point-annotation-border {
    margin: -6px 0 0 -6px;
}

/********************************************/
/* 		             Other     		    	*/
/********************************************/

.clear {
    clear: both;
}
