@charset "UTF-8";



.annotation-bin {
    pointer-events:none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #FF0000; 
}

.point-annotation-aggregate {
    position:absolute;
}

.point-annotation {

    position:absolute;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px; 
    width: 20px;
    height: 20px;
    -webkit-transition: 0.1s ease-in-out;
       -moz-transition: 0.1s ease-in-out;
        -ms-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;
}

.point-annotation-front {

    background-color: #09CFFF;
    margin: -7px 3px 3px -7px;
    z-index: 1;
}

.point-annotation-back {
    
    pointer-events:none;
    background-color: #fff;
    border: 3px solid #fff;
    margin: -10px 0 0 -10px;
    z-index: 0;
}

.point-annotation-aggregate:hover .point-annotation{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.point-annotation-aggregate:hover .point-annotation-front {

    margin: -12px 3px 3px -12px;
}

.point-annotation-aggregate:hover .point-annotation-back {

    margin: -15px 0 0 -15px;
}


.clicked-annotation {
    box-shadow: 0 0 10px #fff;
}


.annotation-details {
    position:absolute;
    width: 257px;
    height: 200px;
    margin-top : -220px;
    margin-left : -128px;
    background-color: #222222;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2001;
    box-shadow: 0px 5px 15px #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* open layers id given to the popup */
#annotation-ol-container {
    background-color: #222222 !important;
    border-radius:10px;
}

#annotation-popup-id {
    background-color: #222222; 
    background-image: none;
    border: 0px solid #7E7E7E;
    color: #7E7E7E; 
    overflow:hidden;
    width:256px;
    height:192px;
}

#annotation-accordion-id {
    width:100%; 
    height: calc(100% - 25px);
    background-color: #222222; 
    background-image: none;
    color: #7E7E7E; 
    overflow:auto;
}

/* invert colour of jQuery accordian header */
#annotation-accordion-id .ui-accordion-icons {
    -webkit-filter:invert(100%);                    
         -o-filter:invert(100%); 
        -ms-filter:"invert(100%)";
            filter:invert(100%); 
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

#annotation-accordion-id .ui-accordion-content {
    border: 0px solid #7E7E7E;
    background-color: #222222;
    background-image: none;
    font-family: Verdana, Arial, sans-serif;
    color: #7E7E7E;    
}

/* invert colour of jQuery resizable handle */
#annotation-popup-resize-icon {
    -webkit-filter:invert(100%);                    
         -o-filter:invert(100%); 
        -ms-filter:"invert(100%)";
            filter:invert(100%);   
}

.annotation {
    background-color: #222222;
    color: #7E7E7E;
    font-size: 12px;
}

.annotation-label {
    float:left;
    width:90px;
}

.annotation-content-container {
    padding-top:15px; 
    padding-left:15px; 
    height:calc(100% - 25px);
}

.annotation-attribute {
    white-space: nowrap;
    font-weight:bold; 
    padding-bottom:10px;
}

.annotation-input {
    border: 1px solid #7E7E7E;
    width: calc(100% - 108px)
}

.annotation-textarea {
    border: 1px solid #7E7E7E;
    width: calc(100% - 22px);
    height: calc(100% - 110px);
    max-width: 384px;
    max-height: 256px;
    font-family: inherit;
    font-size: inherit;  
    resize:none;
}

.annotation-text-div {
    width: calc(100% - 17px);
    height: calc(100% - 73px);
    max-width: 384px;
    max-height: 256px;
    overflow: auto;
}

.annotation-button {
    margin-top:10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: #7E7E7E;
    background: #222222;
    padding: 5px 8px 5px 8px;
    border: solid #7E7E7E 1px;
    text-decoration: none;
}

.annotation-button-right {
    float:right;
}

.annotation-button-left {
    margin-left:15px;
    float:left;
}

.annotation-button:hover {
    background: #333333;
}

#annotation-popup-edit {
    position:absolute; 
    right:0px; 
    outline-width:0;
}

