@charset "UTF-8";


.annotation-bin {
    pointer-events:none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #FF0000; 
}

.point-annotation-aggregate {
    position:absolute;
}

.point-annotation {

    position:absolute;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px; 
    width: 16px;
    height: 16px;
    -webkit-transition: 0.1s ease-in-out;
       -moz-transition: 0.1s ease-in-out;
        -ms-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;
}

.point-annotation-front {

    background-color: #09CFFF;
    margin: -6px 2px 2px -6px;
    z-index: 1;
}

.point-annotation-back {
    
    pointer-events:none;
    background-color: #fff;
    border: 2px solid #fff;
    margin: -8px 0 0 -8px;
    z-index: 0;
}

.point-annotation-aggregate:hover .point-annotation {

    cursor: pointer;
    width: 24px;
    height: 24px;
}

.point-annotation-aggregate:hover .point-annotation-front {

    margin: -10px 2px 2px -10px;
}

.point-annotation-aggregate:hover .point-annotation-back {

    margin: -12px 0 0 -12px;
}

.annotation-details {

    position:absolute;
    width: 384px;
    background-color: #222222;
    padding: 10px;
    z-index: 2001;
    border: 1px solid #333333;
    box-shadow: 0px 5px 15px #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;  
}

.annotation-details-aggregate {

    padding: 10px 24px 24px 24px;   
}

.annotation-details-content {

    position:relative;
    height:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.annotation-details-head {

    position:relative;
    font-size: 18px;
    color: #ffffff;
    width:100%;
}


.annotation-details-body {

    position:relative;   
    font-size: 14px; 
    border-radius: 10px;
    background-color:#111111;
    box-shadow: inset 0 0 10px #000;  
    padding: 5px;
    overflow: auto;
    height: calc(100% - 42px);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

.annotation-details-label {

    position:relative;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-shadow:
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         1px  1px 1px #000; 
}


.annotation-details-close-button {
    position:absolute;
    right:3px;
    top:3px;
    width:12px;
    height:12px;
    background: transparent url(../images/close_icon.png) no-repeat center top;
    -webkit-filter: brightness(0.5);
    
    -webkit-transform: scale(0.75);
       -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
            
    -webkit-transition: 0.1s ease-in-out;
       -moz-transition: 0.1s ease-in-out;
        -ms-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;
}

.annotation-details-close-button:hover {
    cursor: pointer;
    -webkit-filter: brightness(1);
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}

.annotation-carousel {

    position:absolute;
    pointer-events:none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}