@charset "UTF-8";

.top-axis {
    bottom: 0px;   
}

.bottom-axis {
    top: 0px;
}

.left-axis {
    right: 0px;
}

.right-axis {
    left: 0px;
}

.axis-header {
    position:absolute;
    background: #222222; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.top-axis-header {  
    width:100%;
    height:32px;
    top:0px;
    left:0px;
    border-bottom: 1px solid #333333;
    box-shadow:  0px 8px 10px -6px #000;
}

.bottom-axis-header {
    width:100%;
    height:32px;
    bottom:0px;
    left:0px;
    border-top: 1px solid #333333;
    box-shadow: 0px -8px 10px -6px #000;
}   

.left-axis-header {
    height:auto;
    width:32px;
    left:0px;
    top:0px;
    bottom:0px;
    border-right: 1px solid #333333;
    box-shadow: 8px 0px 10px -6px #000;                
}

.right-axis-header {
    height:100%;
    width:32px;
    right:0px;
    top:0px;
    border-left: 1px solid #333333;
    box-shadow: -8px 0px 10px -6px #000;
}

.axis-content {
    position:absolute;
    background: #111111;
    overflow:hidden;
}

.top-axis-content {    
    width:100%;
    top:0px;
    left:0px;
    border-bottom: 1px solid #222222;
    box-shadow: 0px 5px 15px  #000;
}

.bottom-axis-content {
    width:100%;
    bottom:0px;
    left:0px;
    border-top: 1px solid #222222;
    box-shadow: 0px -5px 15px #000;
}

.left-axis-content {
    height:100%;
    left:0px;
    top:0px;
    border-right: 1px solid #222222;
    box-shadow: 5px 0px 15px #000;
}

.right-axis-content {
    height:100%;
    right:0px;
    top:0px;
    border-left: 1px solid #222222;
    box-shadow: -5px 0px 15px #000;
}

.axis-marker {
    background-color: #D3D3D3; 
}

.large-horizontal-axis-marker {
    height: 10px;
    width: 1px;
}

.medium-horizontal-axis-marker {
    height: 6px;   
    width: 1px;
}

.small-horizontal-axis-marker {
    height: 4px;
    width: 1px;
}

.large-vertical-axis-marker {
    width: 10px;
    height: 1px;
}

.medium-vertical-axis-marker {
    width: 6px;
    height: 1px;
}

.small-vertical-axis-marker {
    width: 4px;
    height: 1px;
}

.axis-marker-label {
    text-shadow:
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         1px  1px 1px #000; 
    font-family: Verdana, Arial, sans-serif;
    font-size:0.8em;
    color : #D3D3D3;
}

.horizontal-axis-marker-label {
}

.vertical-axis-marker-label {
}

.axis-title-label {
    font-family: Verdana, Arial, sans-serif;
    font-size:0.95em;
    white-space: nowrap;
    color : #D3D3D3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:50%;
    padding-right:50%;
    text-shadow:
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         1px  1px 1px #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.axis-title-label:hover {
    color : #FFFFFF;
    cursor: pointer;
}