@charset "UTF-8";

.top-axis {
    bottom: 0px;   
}

.bottom-axis {
    top: 0px;
}

.left-axis {
    right: 0px;
}

.right-axis {
    left: 0px;
}

.axis-header {
    position:absolute;  
    cursor: pointer;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.light-theme .axis-header {
	background: #9c9c9c;
}

.dark-theme .axis-header {
    background: #222;
}

.light-theme .axis-header:hover {
    background: #888;
}

.top-axis-header {  
    width:100%;
    height:32px;
    top:0px;
    left:0px;
}

.light-theme .top-axis-header { 
    border-bottom: 1px solid #fff;
}

.dark-theme .top-axis-header { 
    border-bottom: 1px solid #333;
}

.bottom-axis-header {
    width:100%;
    height:32px;
    bottom:0px;
    left:0px;
}

.light-theme .bottom-axis-header { 
    border-top: 1px solid #fff;
}

.dark-theme .bottom-axis-header { 
    border-top: 1px solid #333;
}

.left-axis-header {
    height:auto;
    width:32px;
    left:0px;
    top:0px;
    bottom:0px;              
}

.light-theme .left-axis-header { 
    border-right: 1px solid #fff;
}

.dark-theme .left-axis-header { 
    border-right: 1px solid #333;
}

.right-axis-header {
    height:100%;
    width:32px;
    right:0px;
    top:0px;
}

.light-theme .right-axis-header { 
    border-left: 1px solid #fff;
}

.dark-theme .right-axis-header { 
    border-left: 1px solid #333;
}

.axis-content {
    position:absolute;
    overflow:hidden;   
}

.light-theme .axis-content {
	background-color: #fff;
    box-shadow: 0 0 5px #999;
}

.dark-theme .axis-content {
    background: #111;
    box-shadow: 0 0 5px #000;
}

.top-axis-content {    
    width:100%;
    top:0px;
    left:0px;  
}

.light-theme .top-axis-content { 
    border-left: 1px solid #fff;
}

.dark-theme .top-axis-content { 
    border-left: 1px solid #333;
}

.bottom-axis-content {
    width:100%;
    bottom:0px;
    left:0px;
}

.light-theme .bottom-axis-content { 
    border-top: 1px solid #fff;
}

.dark-theme .bottom-axis-content { 
    border-top: 1px solid #333;
}

.left-axis-content {
    height:100%;
    left:0px;
    top:0px;
}

.light-theme .left-axis-content { 
    border-right: 1px solid #fff;
}

.dark-theme .left-axis-content { 
    border-right: 1px solid #333;
}

.right-axis-content {
    height:100%;
    right:0px;
    top:0px;
}

.light-theme .right-axis-content { 
    border-left: 1px solid #fff;
}

.dark-theme .right-axis-content { 
    border-left: 1px solid #333;
}

.light-theme .axis-marker {
    background-color: #000; 
}

.dark-theme .axis-marker {
    background-color: #D3D3D3; 
}

.large-horizontal-axis-marker {
    height: 10px;
    width: 1px;
}

.medium-horizontal-axis-marker {
    height: 6px;   
    width: 1px;
}

.small-horizontal-axis-marker {
    height: 4px;
    width: 1px;
}

.large-vertical-axis-marker {
    width: 10px;
    height: 1px;
}

.medium-vertical-axis-marker {
    width: 6px;
    height: 1px;
}

.small-vertical-axis-marker {
    width: 4px;
    height: 1px;
}

.axis-marker-label {
    font-size:0.8em;
}

.light-theme .axis-marker-label {
    color : #000;
}

.dark-theme .axis-marker-label {
    font-size:0.8em;
    color : #D3D3D3;
}

.horizontal-axis-marker-label {
}

.vertical-axis-marker-label {
}

.axis-title-label {
    font-size: 1em;
    white-space: nowrap;
    padding-top: 7px;
    padding-left:50%;
    padding-right:50%;
    pointer-events:none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.light-theme .axis-title-label {
    color : #fff;
}

.dark-theme .axis-title-label {    
    color : #D3D3D3;
}
