@charset "UTF-8";

.carousel-ui-pane {
    position: absolute;
    width:257px;
    height:257px;
    pointer-events: none;
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 10px #ccc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.carousel-ui-chevron {
    position: absolute;
    pointer-events: all;
    top: calc(50% - 25px);
    height:50px;
    width:20px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
       -moz-transition:    -moz-transform .1s ease-in-out;
            transition:         transform .1s ease-in-out;
}

.carousel-ui-chevron-left {
    left:5px;
    background: transparent url(../images/chevron_L.png) no-repeat center top;
}

.carousel-ui-chevron-right {
    right:5px;
    background: transparent url(../images/chevron_R.png) no-repeat center top;
}

.carousel-ui-chevron:hover {
    cursor: pointer;
    -webkit-transform: scale(1.4);  
}

.carousel-ui-dot-container {
    position: absolute;
    width: 256px;
    text-align: center;
    pointer-events: all;  
    bottom: 10px;
}

.carousel-ui-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 4px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
       -moz-transition:    -moz-transform .1s ease-in-out;
            transition:         transform .1s ease-in-out;
}

.carousel-ui-dot:hover {
    cursor: pointer;
    -webkit-transform: scale(1.4);
}

.carousel-ui-dot-default {
    background: transparent url(../images/no_select.png) no-repeat center top;
}

.carousel-ui-dot-selected {
    background: transparent url(../images/select.png) no-repeat center top;
}

