@charset "UTF-8";

#description {
	position: relative;
}

.light-theme #description {
	border: 1px solid #fff;
}

.dark-theme #description {
	border: 1px solid #333;
}

#description-header {
	position: relative;   
	height: 32px;
	width: 120px;
	vertical-align: middle;
    text-align:center;
	line-height: 32px;
}

.light-theme #description-header {
	background-color: #9c9c9c;
	color: #fff;
}

.dark-theme #description-header {
	background-color: #222;
    color: #D3D3D3;
}

.light-theme #description-header:hover {
	background-color: #888;
	color: #fff;
}

.dark-theme #description-header:hover {
 	color: #FFFFFF;
}

#description-content {
	position: relative;	
	width: 612px;
	font-size: 11pt;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

.light-theme #description-content {
	background-color: #fff;
    color: #000;
}

.dark-theme #description-content {
	background-color: #111;
	color: #D3D3D3;
}

#description input {
    cursor:pointer;
    position:relative;
    width: 18px;
    height: 18px;
    bottom: -4px;   
}

.light-theme #description input {
}

.dark-theme #description input { 
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
}