@charset "UTF-8";

#description {
	position: fixed;
	right: 10px;
	top: 10px;
}

#description-header {
	position: relative;
	width: 612px;
}

#description-content {
	position: relative;
	background-color: #FFFFFF;
	color: #000;
	width: 612px;
}