@charset "UTF-8";


/********************************************/
/* 		     Generic Details Container  	*/
/********************************************/


.details-on-demand {
	position:absolute;
	width: 257px;
	height: 513px;
	background-color: #222222;
	border: 1px solid #333333;
	z-index: 2001;
	box-shadow: 0px 5px 15px #000;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.details-partition {
	position:relative;
	width: 100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.details-on-demand-title {
	position:relative;
	color : #FFFFFF;
	padding: 10px;
	vertical-align: middle;
}

.details-large-title {
	height: 20px;
	line-height: 20px;
	font-size: 20px;
}

.details-small-title {
	height: 16px;
	line-height: 16px;
	font-size: 16px;
}

.details-on-demand-content {
	position: relative;
	background-color: #111111;
	height: calc(100% - 40px);
}

.details-close-button {
	cursor: pointer;
	position:absolute;
	right:3px;
	top:3px;
	width:12px;
	height:12px;
	background: transparent url(../images/close_icon.png) no-repeat center top;
	opacity: 0.5;
}

.details-close-button:hover {
	opacity: 1;
}


/********************************************/
/* 		     Generic Details Chart  	    */
/********************************************/


.details-chart {
	position: relative;
	background-color: #111111;
	height: 100%;
}

.details-chart-title {
	position: relative;
	color: #ffffff;
	font-size: 12px;
	height: 15px;
	left: 5px;
	padding: 5px 0 5px 0;
}

.details-chart-content {
	position: relative;
	padding: 0 5px 0 5px;
	background-color: #111111;
	height: calc(100% - 37px);
}

.details-chart-bars {
	position: relative;
	padding-top:5px;
	height: 75%;
}

.details-chart-axis {
	position: relative;
	height: 15%;
}

.details-chart-bar {
	position: relative;
	float:left;
	height: 100%;
	margin-left: -1px;
	font-size: 0;
	white-space: pre;
}

.details-chart-bar:hover {
}

.details-chart-bar-fill {
	position: absolute;
	background-color: #09CFFF;
	width: 100%;
	bottom: 0px;
	border: 1px solid #000;
	margin-left: -1px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.details-chart-bar:hover .details-chart-bar-fill {
	background-color: #03E8D7;
}

.details-axis-markers {
	position: relative;
	border-top: 1px solid #aaa;
	height: 33.333%;
	overflow:hidden;
}

.details-axis-labels {
	position: relative;
	height: 66.667%;
}

.details-axis-marker {
	position: relative;
	float: left;
	border-left: 1px solid #aaa;
}

.details-major-marker {
	height: 100%;
}

.details-last-marker {
	width: 0px;
	margin-left: -1px;
}

.details-minor-marker {
	height: 50%;
}

.details-axis-label {
	position: relative;
	white-space: nowrap;
	float: left;
	overflow: hidden;
	font-size: 8px;
	color: #FFFFFF;
}

.details-bar-hover {

	position:absolute;
	padding: 5px 10px 5px 10px;
	background-color: #222222;
	border: 1px solid #333333;
	box-shadow: 0px 5px 15px #000;
	margin-top: -24px;
	z-index: 1;
	pointer-events:none;
}

.details-bar-hover-label {

	color: #d3d3d3;
	white-space: pre;
	font-size: 12px;
}


/********************************************/
/* 		     Generic Details Textbox  	    */
/********************************************/


.details-text-box {
	position:relative;
	color : #FFFFFF;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:#111111;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.details-text-box-title {
	position:relative;
	font-size:12px;
	color: #09CFFF;
	margin: 5px;
}


.text-entry-dark {
	background-color: #111111;
}

.text-entry-light {
	background-color: #181818;
}

.details-text-box-text {
	position:relative;
	padding: 5px 5px 0px 5px;
	font-size: 0.65em;
}
