@charset "UTF-8";

#layer-controls {
	z-index: 2002;
    position: fixed;
    right: 10px;
    bottom: 42px;
}

.light-theme #layer-controls {
    border: 1px solid #fff;
}

.dark-theme #layer-controls {
    border: 1px solid #333;
}

#layer-controls-header {
    position: relative;
    height:32px;
    width: 120px;
    vertical-align: middle;
    text-align:center;
    line-height: 32px;
    }

.light-theme #layer-controls-header {
	background-color: #9c9c9c;
	color: #fff;
}

.dark-theme #layer-controls-header {
    background-color: #222222;
    color: #D3D3D3;
}

.light-theme #layer-controls-header:hover {
	background-color: #888;
	color: #fff;
}

.dark-theme #layer-controls-header:hover {
    color: #FFFFFF;
}

#layer-controls-content {
    position: relative;  
    width: 612px;
    font-size: 12px;
}

.light-theme #layer-controls-content {
	background-color: #fff;
    color: #000;
}

.dark-theme #layer-controls-content {
    background-color: #111111;
    color: #D3D3D3;
}

.layer-controls-buffer {
    position:relative;
    height: 15px;
}

.layer-labels {
	font-size: 11pt;
    text-align: left;
}

.layer-controls-layer {
    position:relative;
	padding-top: 5px;
	border-bottom: 1px dotted;
}

.layer-controls-layer:last-child {
	border-bottom: none;
}

.light-theme .layer-controls-layer {
	border-color: #ddd;
	background: none;
}

.dark-theme .layer-controls-layer {
    background-color: #111111;
}

.light-theme .layer-drag-hover {
    background-color:#eee;
}

.dark-theme .layer-drag-hover {
    background-color:#333333;
}

.layer-controls-layer:active {
    cursor:pointer;
}

.layer-title {
    position: relative;
}

.layer-content {
    position:relative;
    width:100%;
    padding-bottom:10px;
}

.layer-toggle {
    width: 15px;
    padding-right:18px;
    float: left;
    padding-top: 6px;
}

.slider-label {
    font-size: 10px;
    text-align: center;
    color: #7E7E7E;
    padding-bottom: 3px;   
}

.opacity-slider {
    width: calc(30% - 47px);
    color: #7E7E7E;
    display: inline-block;
    padding-right:20px;    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.slider-value-hover {
    position:absolute;
    padding: 2px 5px 2px 5px; 
    z-index: 1;
    pointer-events:none;
    z-index: 100;
}

.light-theme .slider-value-hover {
    background-color: #ddd;
    border: 1px solid #fff;
    box-shadow: 0px 5px 15px #999;
}

.dark-theme .slider-value-hover {    
    background-color: #222222;
    border: 1px solid #333333;
    box-shadow: 0px 5px 15px #000;
}

.slider-value-hover-label {
    position: relative;
    white-space: pre;
    font-size: 12px;
}

.light-theme .slider-value-hover-label {
    color: #000;
}

.dark-theme .slider-value-hover-label {  
    color: #d3d3d3;
}

#layer-controls .ui-slider-horizontal, #layer-controls .ui-slider-vertical {
    border: none;
}

.light-theme #layer-controls .ui-slider-horizontal {
    background: linear-gradient(to right, #999, #ccc);
}

.dark-theme #layer-controls .ui-slider-horizontal {
    background: linear-gradient(to right, #181818, #999999);
}

.light-theme #layer-controls .ui-slider-vertical {
    background: linear-gradient(to bottom, #999, #ccc);
}

.dark-theme #layer-controls .ui-slider-vertical {
    background: linear-gradient(to bottom, #181818, #999999);
}

#layer-controls .ui-slider-range-min {
    background: rgba(0,0,0,0);
}

#layer-controls .ui-widget-content {
    border: none;
    border-radius: 0px;
}

#layer-controls .ui-slider-handle {
    background: #222222;
    border: 1px solid #333333;
    border-radius: 0px;
    box-shadow: 2px 2px 5px #000;
}

.light-theme #layer-controls .ui-slider-handle {
    background: #ccc;
    border: 1px solid #fff;
}

.dark-theme #layer-controls .ui-slider-handle {
    background: #222222;
    border: 1px solid #333333;
}

#layer-controls .ui-slider-handle:focus {
    outline:none;
}

#layer-controls .ui-slider-handle:hover {
    cursor:pointer;
}

#layer-controls input {
    cursor:pointer;
    position:relative;
    width: 18px;
    height: 18px;
    bottom: -4px;   
}

.light-theme #layer-controls input {
}

.dark-theme #layer-controls input { 
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
}

#layer-controls label {
    padding-right: 10px;
}

.filter-slider {
    width: calc(70% - 47px);
    display: inline-block;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.base-opacity-slider {
    width: calc(100% - 35px);
    display: inline-block;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.baselayer-fieldset {
	font-size: 11pt;
	float:right;
    margin-right: 20px;
}

.layer-controls-button {
    cursor:pointer; 
    position:absolute;
    right:0px;
    top:10px;
    font-size: 12px;
	border: 2px solid;
}

.light-theme .layer-controls-button {
    border: 1px solid #ddd;
    background-color: #ddd;
}

.dark-theme .layer-controls-button { 
    border: 1px solid #333333;
    background-color: #222222;
    color: #D3D3D3;
}

.light-theme .layer-controls-button:hover {
    color: #1E90FF;
}

.dark-theme .layer-controls-button:hover { 
    color: #ffffff;
}

.layer-controls-button:focus {
    outline:none;
}

/* Settings menu styles */

.settings-title {
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
}

.settings-content {
    position:relative;
    padding-bottom:12px;
}

.settings-sub-title {
    font-size: 12px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
}

.settings-ramp-types {
    position:relative;
    width:54%;
    display: inline-block;
}

.settings-ramp-functions {
    position:relative;
    width:23%;
    display: inline-block;
    vertical-align: top;
}

.settings-coarseness {
    position:relative;
    width:23%;
    display: inline-block;
    vertical-align: top;
}

.settings-ramp-span-left {
    width:50%;
    display: inline-block;
}

.settings-ramp-span-right {
    width:50%;
    display: inline-block;
}

.settings-values {
    min-width:120px;
    font: 12px Arial;
    margin: 2px 2px 2px 2px;
}

.filter-axis {
    position: relative;
	top: -4px;
    width: 100%;
    left: 0;
}

.filter-axis-tick-major, .filter-axis-tick-minor{
    position: relative;
    height: 6px;
    width: 1px;
	margin-right: 6.07%;
	margin-left: 6.07%;
    float: left;
}

.light-theme .filter-axis-tick-major, .filter-axis-tick-minor {
    background-color: #000;
}

.dark-theme .filter-axis-tick-major, .filter-axis-tick-minor {
    background-color: #d3d3d3;
}

.filter-axis-tick-minor {
    height: 4px;  
}

.filter-axis-label-container, .filter-axis-ticks-container{
	position: relative;
	top: 5px;
	left: 0px;
	clear: both;
}

.filter-axis-label{
    font-size: 10px;
	text-align: center;
	left: -5%;
	color: rgb(128, 128, 128);
    position: relative;
	width: 0px;
	background-color: white;
	margin-right: 12.5%;
	margin-left: 12.5%;
    float: left;
}

.filter-axis-tick-first, .filter-axis-label-first {
	margin-left: 0px;
}

.filter-axis-label-first{
	left: -3.5%;
}

.filter-axis-tick-last, .filter-axis-label-last {
	margin-right: 0px;
	float: right;
}
