@charset "UTF-8";

#layer-controls {
	z-index: 2002;
    position: fixed;
    right: 10px;
    bottom: 42px;
}
#layer-controls-header {
    position: relative;
    height:32px;
    width: 100px;
    vertical-align: middle;
    text-align:center;
    line-height: 32px;
    background-color: #222222;
    color: #D3D3D3;
    text-shadow:
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         1px  1px 1px #000;
}
#layer-controls-header:hover {   
    color: #FFFFFF;
}
#layer-controls-content {
    position: relative;
    padding-bottom: 15px !important;
    background-color: #FFF;
    color: #000;
    width: 612px;
    font-size: 12px;
}
.layer-labels {
    font-size: 12px;
    text-align: left;
}
.layer-title {
    position: relative;
    padding-bottom: 5px;
    padding-top:15px;
}
.layer-content {
    position:relative;
    width:100%;
    padding-bottom:5px;
}
.layer-toggle {
    width: 15px;
    padding-right:10px;
    float: left;
    padding-top: 15px;
}
.slider-label {
    font-size: 10px;
    text-align: center;
    color: #939393;
    padding-bottom: 3px;
}
.opacity-slider {
    width: calc(30% - 47px);
    color: #7E7E7E;
    display: inline-block;
    padding-right:20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.filter-slider {
    width: calc(70% - 47px);
    display: inline-block;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.base-opacity-slider {
    width: calc(100% - 35px);
    display: inline-block;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.promotion-container {
    vertical-align: bottom;
    display: inline-block;
    padding-right: 15px;
    position: relative;
    bottom: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.layer-promotion-button {
    width:32px;
    height:32px;
    border: none;
    background: transparent url(../images/PromoteButton.png) no-repeat center top;
    position:relative;
    display: inline-block;
}
.layer-promotion-button:hover:enabled {
    border: none;
    background: transparent url(../images/PromoteButton.png) no-repeat center top;
    background-position: 0px -32px;
    display: inline-block;
}
.layer-promotion-button:active:enabled {
    border:none;
    background:transparent url(../images/PromoteButton.png) no-repeat center top;
    background-position: 0px -32px;
    display: inline-block;
}
.layer-promotion-button:focus {
    outline:none;
}
.tile-outline-button {
    position:relative;
    margin-top:20px;
}
.settings-link {  
    position:absolute;
    right:0px;
    font-size: 12px;
}
/* Settings menu styles */
.settings-title {
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
}
.settings-content {
    position:relative;
    padding-bottom:12px;
}
.settings-back-link {
    position:absolute;
    right:0px;
    font-size: 12px;
}
.settings-ramp-title {
    font-size: 12px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
}
.settings-ramp-types {
    width:66%;
    display: inline-block;
}
.settings-ramp-functions {
    width:33%;
    display: inline-block;
    vertical-align: top;
}
.settings-ramp-span-left {
    width:50%;
    display: inline-block;
}
.settings-ramp-span-right {
    width:50%;
    display: inline-block;
}
.settings-values {
    min-width:120px;
    font: 12px Arial;
    margin: 2px 2px 2px 2px;
}
.filter-axis{
    position: relative;
	top: -4px;
    width: 100%;
    left: 0;
}
.filter-axis-tick-major, .filter-axis-tick-minor{
    position: relative;
    height: 8px;
    width: 1px;
	background-color: rgb(128, 128, 128);
	margin-right: 6.07%;
	margin-left: 6.07%;
    float: left;
}
.filter-axis-tick-minor{
    height: 5px;
}
.filter-axis-label-container, .filter-axis-ticks-container{
	position: relative;
	top: 7px;
	left: 0px;
	clear: both;
}
.filter-axis-label{
    font-size: 10px;
	text-align: center;
	left: -5%;
	color: rgb(128, 128, 128);
    position: relative;
	width: 0px;
	background-color: white;
	margin-right: 12.5%;
	margin-left: 12.5%;
    float: left;
}
.filter-axis-tick-first, .filter-axis-label-first{
	margin-left: 0px;
}
.filter-axis-label-first{
	left: -3.5%;
}
.filter-axis-tick-last, .filter-axis-label-last{
	margin-right: 0px;
	float: right;
}
fieldset{
    position: relative;
    border: none;
    text-align: center;
    margin: 0px;
    margin-bottom: 2px;
    height: 15px;
}
fieldset input[type=radio] {
    display:none;
}
fieldset input[type=radio] + label {
    display:inline-block;
    margin:-1px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 15px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
fieldset input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}