@charset "UTF-8";

html, body
{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    background-color: black;
    color: #7E7E7E;
    overflow:hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}