@charset "UTF-8";

html, body
{
    width: 100%;
    height: 100%;
}

h1 {
  font-size: 1.3em;
}

body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    background-color: black;
    color: #7E7E7E;
    overflow:hidden;
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000,
       1px  0   0 #000,
      -1px  0   0 #000,
       0    1px 0 #000,
       0   -1px 0 #000;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

select {
  border: 1px solid #222222;
  background-color: #111111;
  color: #d3d3d3;
}

select:focus {
  outline:none;
}

body .ui-tooltip {
  background: #222222;
  padding: 5px;
  font-size: 12px;
  outline: none;
  border: 1px solid #333333;
  box-shadow: 0px 5px 15px #000;
  color: #d3d3d3;
}



.ui-icon-gripsmall-diagonal-se {
    background-image: url("");
}