@charset "UTF-8";

.olTileImage {
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
}

.olMap {
    position:relative;
    overflow:hidden;
    top: 100px;
    left: 100px;
    width: calc( 100% - 200px);
    height: calc( 100% - 200px);
}

div.olControlZoom {
	right: 10px !important;
	top: 60px !important;
	left:auto !important;
}

.olLayerGoogleV3 {
    visibility:hidden; !important;
}
