@charset "UTF-8";

#maps {
	position: fixed;
	border: 1px solid #333333;
	left: 10px;
	top: 10px;
}

#maps-header {
	position: relative;   
	height: 32px;
	width: 120px;
	vertical-align: middle;
    text-align:center;
	line-height: 32px;
	background-color: #222222;
    color: #D3D3D3;
    link: #D322D3;
    visited: #D322D3;
}

#maps-header:hover {   
 	color: #FFFFFF;
}

#maps-content {
	position: relative;
	background-color: #111;
	color: #D3D3D3;
	width: 612px;
	font-size: 10pt;
}

.maps-link {
    color: #D3D322
}
