@charset "UTF-8";

.overlay-header {
    position: fixed; 
    z-index: 9999; 
    width:140px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.overlay-container {
    position:relative;
    height:200px; 
    overflow-y:auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}