@charset "UTF-8";

.overlay-header {
    position: fixed;
    z-index: 9999; 
    width:140px;
    max-width:768px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter:invert(100%);
        -ms-filter:"invert(100%)";
            filter:invert(100%);
}

.overlay-container {
    position:relative;    
    overflow-y:hidden;
    overflow-x:hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter:invert(100%);
        -ms-filter:"invert(100%)";
            filter:invert(100%);

}