@charset "UTF-8";

.overlay-container {
    margin-bottom: 10px;
}

.light-theme .overlay-container {
    box-shadow: 0px 5px 10px #999;
}

.dark-theme .overlay-container {
    box-shadow: 0px 5px 10px #000;
}

#top-left-overlay-quadrant {
    position:fixed;
    top: 10px;
    left: 42px;
}

#top-right-overlay-quadrant {
    position:fixed;
    top: 10px;
    right: 10px;
}

#bottom-left-overlay-quadrant {
    position:fixed;
    bottom: 32px;
    left: 42px;
}

#bottom-right-overlay-quadrant {
    position:fixed;
    bottom: 32px;
    right: 10px;
}

.overlay-header {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.overlay-header:hover {
    color: #FFFFFF;
    cursor:pointer;    
}

.overlay-content {
    position: relative;
    padding-top:10px;
    padding-bottom:10px;    
    padding-left:24px; 
    padding-right:24px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
