@charset "UTF-8";


.overlay-div {

}

.overlay-header {
    position: relative;
    height: 32px;
    line-height: 30px;
    vertical-align: middle;
    text-align:center;
    background-color: #222222;
    color: #D3D3D3;
    border: 1px solid #555555; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.overlay-header:hover {
    border: 1px solid #666666;
    color: #FFFFFF;
    cursor:pointer;    
}

.overlay-content {
    position: relative;
    /*
    padding-top:10px;
    padding-bottom:10px;
    */
    padding-left:24px; 
    padding-right:24px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
