@charset "UTF-8";


.testtest {
	cursor:pointer;
	background-color:blue;
}

.testtest:hover {
	background-color:red;
}

.aperture-tile {
	position:relative;
    -webkit-backface-visibility: hidden;
	height: 256px;
	width: 256px;
}


.aperture-tile-title {
	position: absolute;
	display: none;
	margin: 10px;
	font-size: 0.8em;
}

.light-theme .aperture-tile-title {
	color: #000;
	text-shadow:
      -1px -1px 0 #fff,
       1px -1px 0 #fff,
      -1px  1px 0 #fff,
       1px  1px 0 #fff,
       1px  0   0 #fff,
      -1px  0   0 #fff,
       0    1px 0 #fff,
       0   -1px 0 #fff;
}

.dark-theme .aperture-tile-title {	
	color: #fff;
	text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000,
       1px  0   0 #000,
      -1px  0   0 #000,
       0    1px 0 #000,
       0   -1px 0 #000;
}

.aperture-tile:hover .aperture-tile-title {
	display: block;
}

/********************************************/
/* 		     Meta Data Renderer  	     	*/
/********************************************/


.meta-entry-parent {
	position: relative;
    float: right;
    right: 50%;
}

.meta-entry {
	float: right;
    right: -50%;
    position: relative;
    text-align: center;
    z-index: 1;
}

.meta-entry-label {
    position: relative;
    color: #FFFFFF;
	z-index: 1;
}


/********************************************/
/* 		     Text Score Renderer  	     	*/
/********************************************/


.text-score-entry-parent {
	position: relative;
    float: right;
    right: 50%;
    height: 34px;
}

.text-score-entry {
    cursor: pointer;
	float: right;
    right: -50%;
    position: relative;
    z-index: 1;
}

.text-score-label {
    position: relative;
	white-space: nowrap;
	max-width: 200px;
	overflow:hidden;
	text-overflow: ellipsis;
	z-index: 1;
}

.text-score-count-bar {
	position:absolute;
	height: 9px;
	width: 120px;
	margin-left: 50%;
	bottom: 0px;
	border: 1px solid #000000;
	z-index: 0;
}

.text-score-count-sub-bar {
	height:100%;
	float:left;
}

.count-summary {
	position:absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: #FFFFFF;
	font-size: 0.8em;
}


/********************************************/
/* 		  Text by Frequency Renderer  	  	*/
/********************************************/


.text-by-frequency-entry {
	position:absolute;
	width: 200px;
	height: 20px;
	left: 28px;
	z-index: 1;
}

.text-by-frequency-left {
	position: relative;
	float:left;
	padding-top:2px;
	padding-bottom:2px;
	width: 105px;
	height: 100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.text-by-frequency-right {
	position: relative;
	float:right;
	width: 95px;
	height: 100%;
}

.text-by-frequency-label {
	cursor: pointer;
	position:relative;
	text-align: left;
	vertical-align: middle;
	bottom: -3px;
	font-size : 14px;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-by-frequency-bar {
	cursor: pointer;
	position: relative;
	float:left;
	bottom: 0px;
	border: 1px solid #000;
	margin-left: -1px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/********************************************/
/* 		     Word Cloud Renderer  	     	*/
/********************************************/

.word-cloud-entry {
	cursor: pointer;
	position:absolute;
	top: 0;
	z-index: 1;
}

.word-cloud-word {
	position:absolute;
}

.word-cloud-word-temp {
	position:relative;
	display: inline-block;
	padding: 0 5px 0 5px;
}


/********************************************/
/* 		    Graph Node Renderer    	    	*/
/********************************************/

.community-node {
	position:absolute;
	cursor:pointer;
	z-index:2;
}

.community-critical-node {
	position:absolute;
	cursor:pointer;
	z-index:3;
}

.community-parent-node {
	position:absolute;
	cursor:pointer;
	z-index:1;
}

/********************************************/
/* 	        Graph Label Renderer     	  	*/
/********************************************/

.node-label {

	position:absolute;	
	width: 256px;
	padding: 5px 0 5px 0;
	margin-left: -128px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
}


/********************************************/
/* 		             Other     		    	*/
/********************************************/


.clear {
    clear: both;
}
