@charset "UTF-8";

#views {
	position: relative;
}

.light-theme #views {
	border: 1px solid #fff;
}

.dark-theme #views {
	border: 1px solid #333;
}

#views-header {
	position: relative;   
	height: 32px;
	width: 120px;
	vertical-align: middle;
    text-align:center;
	line-height: 32px;
}

.light-theme #views-header {
	background-color: #9c9c9c;
	color: #fff;
}

.dark-theme #views-header {
	background-color: #222;
    color: #D3D3D3;
}

.light-theme #views-header:hover {
	background-color: #888;
}

.dark-theme #views-header:hover {
 	color: #FFFFFF;
}

#views-content {
	position: relative;
	background-color: #111;
	color: #D3D3D3;
	width: 612px;
	font-size: 10pt;
}

.light-theme #views-content {
	background-color: #fff;
    color: #000;
}

.dark-theme #views-content {
	background-color: #111;
	color: #D3D3D3;
}

.views-entry {
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.light-theme .views-link {
    color: #000;
    link: #000;
    visited: #000;
}

.dark-theme .views-link {
    color: #D3D3D3;
    link: #D3D3D3;
    visited: #D3D3D3;
}
