.classpath
.idea
.project
.settings
.cache
target
update.sh
phantomjs.exe
*.iml
docs/_site
*.*~
*~
build
test-output
.gradle
bin
*/**/coverage
tile-quickstart.war
out/*
test.output
.DS_Store
*.war
classes
