---
---

@import "code-block";

$comment-color: #008800;
$keyword-color: #000080;
$literal-color: #0000FF;
$generic-change-color: #000000;

.highlight  { 
	@extend code-block;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: $comment-color; font-style: italic } /* Comment */
.highlight .err {  } /* Error */
.highlight .k { color: $keyword-color; font-weight: bold } /* Keyword */
.highlight .cm { color: $comment-color; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008080 } /* Comment.Preproc */
.highlight .c1 { color: $comment-color; font-style: italic } /* Comment.Single */
.highlight .cs { color: $comment-color; font-weight: bold } /* Comment.Special */
.highlight .gd { color: $generic-change-color; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: $generic-change-color; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: $keyword-color; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: $keyword-color; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: $keyword-color; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: $keyword-color; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: $keyword-color; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $keyword-color; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $literal-color } /* Literal.Number */
.highlight .s { color: $literal-color } /* Literal.String */
.highlight .na { color: #FF0000 } /* Name.Attribute */
.highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: $literal-color } /* Literal.Number.Float */
.highlight .mh { color: $literal-color } /* Literal.Number.Hex */
.highlight .mi { color: $literal-color } /* Literal.Number.Integer */
.highlight .mo { color: $literal-color } /* Literal.Number.Oct */
.highlight .sb { color: $literal-color } /* Literal.String.Backtick */
.highlight .sc { color: #800080 } /* Literal.String.Char */
.highlight .sd { color: $literal-color } /* Literal.String.Doc */
.highlight .s2 { color: $literal-color } /* Literal.String.Double */
.highlight .se { color: $literal-color } /* Literal.String.Escape */
.highlight .sh { color: $literal-color } /* Literal.String.Heredoc */
.highlight .si { color: $literal-color } /* Literal.String.Interpol */
.highlight .sx { color: $literal-color } /* Literal.String.Other */
.highlight .sr { color: $literal-color } /* Literal.String.Regex */
.highlight .s1 { color: $literal-color } /* Literal.String.Single */
.highlight .ss { color: $literal-color } /* Literal.String.Symbol */
.highlight .il { color: $literal-color } /* Literal.Number.Integer.Long */
