

.sentiment-labels {
	text-align: center;
	width: 200px;
	overflow:hidden;
	left: 28px;
	font-size: 2em;
	color: #FFFFFF;
	text-shadow:
    -2px -2px 1px #000,
    2px -2px 1px #000,
    -2px 2px 1px #000,
    2px 2px 1px #000; 
	-webkit-transform: scale(0.667);
       -moz-transform: scale(0.667);
        -ms-transform: scale(0.667);
            transform: scale(0.667);
	-webkit-transition: -webkit-transform 0.1s ease-in-out;
       -moz-transition:    -moz-transform 0.1s ease-in-out;
       	-ms-transition:     -ms-transform 0.1s ease-in-out;
            transition:         transform 0.1s ease-in-out;
}


.sentiment-labels:hover {
	-webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}


.sentiment-bars {
	width: 150px;
	height: 9px;
	left: 53px;
	border: 2px solid #000000;
	background-color: #FFFFFF;
	-webkit-transform: scale(0.667);
       -moz-transform: scale(0.667);
        -ms-transform: scale(0.667);
            transform: scale(0.667);
	-webkit-transition: -webkit-transform 0.1s ease-in-out;
       -moz-transition:    -moz-transform 0.1s ease-in-out;
       	-ms-transition:     -ms-transform 0.1s ease-in-out;
            transition:         transform 0.1s ease-in-out;
}


.sentiment-bars:hover {
	
	left: 53px;
	background-color: #09CFFF;
	-webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}

