
div.test-renderer {
	position:relative;
	background-color: #22FFAA;
	top: 96px;
    left: 96px;
	width: 64px;
	height: 64px;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
       -moz-transition: -moz-transform 0.5s ease-in-out;
       	-ms-transition: -ms-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}


div.test-renderer:hover {
	cursor: pointer;
	background-color: #7700FF;
    -webkit-transform: scale(2) rotate(-180deg);
       -moz-transform: scale(2) rotate(-180deg);
        -ms-transform: scale(2) rotate(-180deg);
            transform: scale(2) rotate(-180deg);
}



div.test-renderer:active {
	cursor: pointer;
	background-color: #2288FF;
	-webkit-transform: scale(4) rotate(180deg);
       -moz-transform: scale(4) rotate(180deg);
        -ms-transform: scale(4) rotate(180deg);
            transform: scale(4) rotate(180deg);
}