@CHARSET "ISO-8859-1";
body {
	font-family: Georgia,"Times New Roman",serif;
	font-size: 100%;
	line-height: 1.4em;
	background: #F0EFE7;
	background-image: url(../img/body.jpg);
	margin:0;
	padding:0;
	padding-top: 15px;
	color: #4E443C;
}
h1 {
	font-family: Georgia,"Times New Roman",serif;
	font-weight: normal;
	font-size: 32px;
	padding-top: 30px;
	margin-bottom: 25px;
	color: #C40;
}
h2 {
	font-family: Georgia,"Times New Roman",serif;
	font-weight: normal;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #840;
}
h3 {
	font-family: Georgia,"Times New Roman",serif;
	font-weight: normal;
	font-size: 20px;
	color: #840;
	margin-bottom: 8px;
}
.tagline {
	font-size: 18px;
	color: #8A8984;
}


a {
	text-decoration: none;
}
a:link,
a:hover,
a:active,
a:visited {
	color: #07A;
}
a:hover,
a:focus {
	color: #3AF;
}

img {
	border-style: none;
}
img.bordered {
	border: 1px solid #8f8170;
}
pre.code {
	overflow: auto;
	font-size: 14px;
	font-family: Consolas, "Courier New", Courier, monospace;
	/*background: #FCFCFA;*/
    background: #dee5e5;
	margin: 10px 0 10px 0;
	padding: 10px;
	/*border: 1px solid #ccc;*/
    border: 1px solid #8f8170;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
pre code {
	background: #dee5e5;
}
/*start del here*/
code .jscomment {
    color: #398f29;
    background #dee5e5;
}
code .jsstring {
    color: #458ba0;
    background #dee5e5;
}
code .jscontent{
    color: #8f4060;
    background #dee5e5;
}

/*end delete here*/
#content-strip {
	position: relative;
	max-width: 1000px; 
	margin-left: auto; 
	margin-right: auto;
}

.toc {
    background: #ddddd1;
    margin: 10px 0 10px 0;
    padding: 5px 5px 5px 30px;
    /*border: 1px solid #ccc;*/
    border: 1px solid #c8c8bd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#header {
	position: absolute;
	background: #ddddd1;
	background-image: url(../img/header.jpg);
	left: 0px;
	right: 0px;
	top: 0px;
	height: 60px;
	z-index: -1;
}
#header-logo {
	position: absolute;
}
#header-menu {
	position: absolute;
	right: 0px;
	font-family: Georgia,"Times New Roman",serif;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 20px;
}
#header-menu a {
	line-height: 25px;
	color: #4E443C;
	padding: 5px 6px 14px 6px;
	text-decoration: none;
	text-transform: uppercase;
}
#header-menu a.selected {
	border-bottom: 3px solid #4E443C;
}
#header-menu a.overview {
	padding-left: 20px;
	padding-right: 20px;
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	background-position: 50% 1px;
}
#header-menu a:hover {
	color: #C40;
}
#header-menu .tagline {
	color: #8A8984;
}
#submenu {
	height: 60px;
	margin-bottom: 40px;
}
#submenu .selected {
	color: white;
	background-color: #876;
	background-color: #B17152;
}
.submenu-item {
	float: left;
	cursor: pointer;
}
.submenu-item:hover {
	color: #C40;
}
.submenu-item-background {
	color: #5E544A;
	float: left;
	padding: 16px;
	border-radius: 50%;
	webkit-border-radius: 50%;
	background: #ddddd1;
	margin-right: 15px;
}
.submenu-item-label {
	float: left;
	margin-top: 15px;
	width: 110px;
	font-size: 20px;
	white-space: nowrap;
}
.submenu-item-number {
	text-align: center;
	width: 20px;
	height: 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

#submenu2 {
    height: 60px;
    margin-bottom: 40px;
}
#submenu2 .selected {
    color: white;
    background-color: #876;
    background-color: #B17152;
}
.submenu2-item {
    float: left;
    cursor: pointer;
}
.submenu2-item:hover {
    color: #C40;
}
.submenu2-item-background {
    color: #5E544A;
    float: left;
    padding: 16px;
    border-radius: 50%;
    webkit-border-radius: 50%;
    background: #ddddd1;
    margin-right: 15px;
}
.submenu2-item-label {
    float: left;
    margin-top: 15px;
    width: 110px;
    font-size: 20px;
    white-space: nowrap;
}
.submenu2-item-number {
    text-align: center;
    width: 20px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


nav {
    width: 100%;
    margin: 0px 80px 0px

}
nav ul {
    list-style: none;
    overflow: hidden;
}
nav ul li {
    float: left;
    width: 16%; }

nav ul li a {
    text-align: center;
    padding: 8px 0;
    display: block;
    width: 100%;
    background: #ddddd1;
    color: #5E544A;
    );
}

nav ul li  {
    color: #5E544A;
    }
nav .notselected{
    color: #5E544A;
}
nav .selected{
    background-color: #B17152;
    color: white;
}
nav ul li a:hover,
nav ul li a:active {
    color: white;
    background: rgba(179, 124, 72, 0.60);
    );
}
nav ul li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
nav ul li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; }

.home-image {
	margin-top: 20px;
	margin-bottom: 4px;
	border: 1px solid #cba;
}
#map {
	background-color: #c9cfcf;
}
#testlinks {
	display: none;
}
#all {
	position: absolute;
	width: 1000px;
	top: 70px;
	bottom: 0px;
	padding-top: 10px;
}
#index {
	position: absolute;
	width: 180px;
	top: 90px;
	overflow: auto;
}
#index a {
	font-size: 14px;
	white-space: nowrap;
}
.index-link {
	max-width: 122px;
	overflow: hidden;
}

.index-thumbnail {
	position: relative;
	width: 120px;
	height: 100px;
	border: 1px solid #987;
	cursor: pointer;
	margin-bottom: 5px;
	background-position: center;
}
.index-thumbnail:hover {
	border-color: black;
}
.index-thumbnail-mask {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(255, 252, 250, 0.1);
	background: transparent;
}
div.index-thumbnail-mask:hover {
	background: transparent;
}
.index-group-title {
	margin-top: 5px;
}
#example {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 800px;
}
#example h1 {
	padding-top: 10px;
}
#title {
	width: 800px;
}
#content {
	position: relative;
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: 10px;
}
#content .case {
}
.content-context {
	padding-left: 20px;
	position: absolute;
	width: 280px;
	font-size: 14px;
}
.oculus-footer
{
	padding-bottom: 60px;
	background-image: url(../img/footer-symbols.png);
	background-repeat: no-repeat; 
	background-position: left bottom; 
}
.footer-padding {
	padding-bottom: 20px;
}
a.context-info-title {
	color: #c40;
}
a:hover.context-info-title {
	color: #F60;
}
.context-info {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #FCFCFA;
	border: solid 1px #E2E0D8;
	position: relative;
	left: -10px;
	margin-bottom: 10px;
	padding: 10px 15px 25px 15px;
	overflow: hidden;
}
.context-title {
	margin-top: 0px;
}
.references-title {
	font-size: 16px;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 6px;
}
#map {
	border: 1px solid #987;
}
.content-body {
	text-align:	justify;
	padding-left: 30px;
	margin-left: 300px;
	font-size: 18px;
}
.key-features {
	margin: 20px 0px 20px 0px;
	background: #eee;
	padding: 5px 10px 5px 10px;
}
.key-feature {
	color: #2e9b00;
	font-weight: bold;
}
#showHide {
	line-height: 15px;
}
a.download-link {
	background-image: url(../img/download.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	padding: 6px 0px 6px 30px;
}
#infoTxt {
	font-size: 16px;
	line-height: 1.2em;
}