{
    "_comment" : [
        "This json configuration file specifies properties of a cross-plot tile-based application",
        "",
        "The PyramidConfig key specifies the transformation applied to the data to show it on the ",
        "map.  This is the central identifying key that is used to match maps with layers and ",
        "annotations.  Only layers and annotations whose pyramids exactly match a map's can be shown ",
        "on it.",
        "",
        "The MapConfig key specifies configuration of map layer control and base layer properties",
        "",
        "The AxisConfig key specifies configuration of the map axes. Each axis can each have the ",
        "following keys: ",
        "       title:                  axis title label text",
        "       repeat:                 whether or not the axis will repeat",
        "       position:               where to place the axis",
        "       intervalSpec:",
        "           type:               type of interval",
        "           increment:          fixed / percentage increment of the axis, matches type",
        "           pivot:              the fixed value / percentage that all other values are incremented from",
        "           allowScaleByZoom:   if the axis should be scaled by the zoom factor",
        "       unitSpec:",
        "           type:               type of units parse in FormatAxis.js",
        "           decimals:           number of decimals",
        "           allowStepDown:      if the units can step down if they are below range"
    ],

    "id": "Crossplot-Example",
    "description": "An example map config for a crossplot-map.",

    "PyramidConfig": {
        "type" : "AreaOfInterest",
        "minX" : 1.0,
        "maxX" : 6336769,
        "minY" : 0,
        "maxY" : 500000
    },

    "MapConfig" : {
        "options" : {
            "numZoomLevels" : 19,
            "projection" : "EPSG:900913",
            "displayProjection" : "EPSG:4326"
        },
        "baseLayer" : {}
    },

    "AxisConfig": [
        {
            "title" : "Source",
            "position" : "bottom",
            "repeat": false,
            "intervalSpec" : {
                "type" : "percentage",
                "increment" : 20,
                "pivot" : 0,
                "allowScaleByZoom" : true,
            },
            "unitSpec" : {
                "type" : "decimal",
                "decimals" : 2,
                "allowStepDown" : false
            }
        },
        {
            "title" : "Amount (BTC)",
            "position" : "left",
            "repeat" : false,
            "intervalSpec" : {
                "type" : "fixed",
                "increment" : 100000,
                "pivot" : 0,
                "allowScaleByZoom" : true,
            },
            "unitSpec" : {
                "type" : "decimal",
                "decimals" : 2,
                "allowStepDown" : false
            }
        }
    ]
}