.y-scale-line {
    position: absolute;
    border-left: 1px solid #7E7E7E;
    width: 1px;
    top: 0px;
    left: -1px;
}
.x-scale-line {
    position: absolute;
    height:1px;
    border-bottom: 1px solid #7E7E7E;
    bottom: -1px;
}
.x-scale-majorMarker {
    position: absolute;
    border-left: 1px solid #7E7E7E;
    height: 10px;
    bottom: -10px;
}
.x-scale-marker-label {
    position: absolute;
    bottom: -28px;
    height: 15px;
    /*font-weight:bold;*/
    font-size : 0.75em;
    color :  #7E7E7E;
}
.y-scale-majorMarker {
    position: absolute;
    border-bottom: 1px solid #7E7E7E;
    width: 10px;
    left: -10px;
}
.y-scale-marker-label {
    position: absolute;
    left: -54px;
    text-align: right;
    font-size : 0.75em;
    color :  #7E7E7E;
}
.x-scale-label {
    position: absolute;
    bottom: -60px;
    text-align: center;
    font-size:0.95em;
    color : #7E7E7E;
}
.y-scale-label {
    position: absolute;
    left: -150px;
    font-size:0.95em;
    color : #7E7E7E;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}