@charset "UTF-8";
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    display: block;
}
html {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
body {
    font: 100% Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
    width: 100%;
    height: 100%;
}
#browser_recommend {
    /*margin-left : 15px;*/
}
.show-controls {
    position: absolute;
    top: 5px;
    right: 180px;
    height: 20px;
    width: 150px;
    font-size: 0.75em;
}
#summary h2 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
#head {
	width:30%;
	margin: none;
}
#summary-header {
	position: absolute;
	left: 400px;
	top: 28px;
	width: 50%;
	float: right;
}
#summary-header-title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(252, 249, 207);
}
#summary-header-records {
	font-size: .9em;
    font-weight: normal;
	color: rgb(245, 245, 245);
}
.ui-front {
    z-index:1000000 !important; /* The default is 100. !important overrides the default jqueryUI setting. Need to draw dialogs OVER openlayers. */
}
.ui-dialog-title {
    font-size: 0.8em;
}
#tabs-major {
	
    padding: 0px;
    border-width: 0px;
    height: 100%;
}
#tabs-major .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
	width: 100%;
	padding: 0ps;	
}
#tabs-major .ui-tabs-panel {
    background-color: white;
    border-width: 0px 1px 1px 1px;
    height: 85%;
}
.table-sub-tab {
    width: 90%;
    height: 85%;
    overflow: scroll;
}
.sub-tabs {
    background: transparent;
    border: none;
}
.sub-tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.sub-tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
.sub-tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(../img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
.sub-tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;

}
.sub-tabs .ui-tabs-nav .ui-state-active a {
    color: #38629e;
}
#dialog-controls {
    top:0px;
    right:0px;
    width:auto;
    height:auto;
    border:2px;
    border-style:none;
    border-color: #948f96;
    font-size: 0.8em;
}
#layer-control {
    font-weight: bold;
}
#tabs-tables , #tabs-plots{
	
    width: 95%;
	padding: 0px;
}
#tabs-plots .ui-tabs-panel {
    height: 90%;
}
table {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: #fff;
}
.aliasLabel {
    font-weight: bold;
    text-align: left;
}
.stripRow {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgb(240,240,240);
    font-size: .6em;
}
.hoverableRow:hover {
    background: rgba(255, 254, 106, 0.40);
}
.stripRow td {
    height:50px;
}
.stripExpandBtn {
    float : left;
    margin-left : 5px;
    margin-right : 4px;
}
.expandedStripRow {
    border-style: solid;
    border-bottom-style: none;
    border-width: 3px;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    font-size: .6em;
}
.expandedStripRow td {
    position: relative;
    height:75px;
}
.stripExpansion {
    border-style: solid;
    border-top-style: none;
    border-width: 3px;
    border-left-color: black;
    border-bottom-color: black;
    border-right-color: black;
    font-size: .75em;
    height:150px;
}
.densityStrip {
    border-style: solid;
    border-width: 1px;
    border-color: #948f96;
    display : inline-block;
}
#tabs-tables .olTileImage {
	border: none;
}
#tabs-plots .olMap {
	background-color: black !important;
}
.strip-legend {
    position: absolute;
    width: 15px;
    height: 80px;
    top: 0px;
    left: 685px;
    border-color: #948f96;
    border-width: 1px;
    border-style: solid;
}
.strip-legend-axis {
    position: absolute;
    width: 50px;
    bottom: 0px;
    left: 0px;
}
.expandedDensityStrip-size {
    width: 600px;
    height: 65px;
}
.expandedDensityStrip-parent {
    position: absolute;
    margin-right: 20px;
    top: 35px;
}
.expandedDensityStrip {
    border-style: solid;
    border-width: 1px;
    border-color: #948f96;
}
td {
    position: relative;
    text-align: right;
    padding-left: 10px;
}
th {
    font-size: .8em;
    padding: 0 5px 0 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: #fff;
}
.plot-parent {
    position: absolute;
    left: 150px;
    padding: 0px;
}
.plot {
    position: absolute;
}
.plot-zoom-slider {
    position: relative;
    width: 100px;
    top: -85px;
    left: 100px;
}
.plot-legend {
    position: absolute;
    width: 40px;
    height: 200px;
    top: 125px;
    right: 50px;
    border-color: #948f96;
    border-width: 1px;
    border-style: solid;
    z-index: 10001;
}
.plot-legend-axis {
    position: absolute;
    width: 140px;
    bottom: 0px;
    left: 0px;
}
.plot-legend-range {
    top: -200px;
    right: -60px;
}
.strip-legend-range {
    top: -81px;
    right: -25px;
}
.base-layer-opacity {
    top: -168px;
    left: -5px;
    color: #7E7E7E;
}
.overlay-layer-opacity {
    top: -270px;
    left: 25px;
    color: #7E7E7E;
}
body div.ui-slider-range.ui-widget-header {
    background:gray;
}
.customZoom {
    z-index: 1001;
    position: relative;
    top: 5px;
    left: 5px;
}
.customZoom a {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 25px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background: #5f5f61;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.customZoom a:hover {
    background: #036;
}
#customZoomOut {
    top: 25px;
}
.map-control-colour td{
    vertical-align: text-top;
    text-align: left;
    width : 320px;
    padding : 10px 5px;
}
.plotlink-loupe {
    position : absolute;
    border-width : 2px;
    border-style : solid;
    border-color : black;
    z-index : 1001;
}