/* color palette
rgb(204, 204, 204)  Pale Grey (background)
rgb(57, 58, 57) Dark Grey
rgb(72, 12, 59)  Purple (from luminance scale)
rgb(229, 51, 39)  Red (from luminance scale)
rgb(48, 179, 75)  Green (from luminance scale)
rgb(255, 202, 12)  Yellow (from luminance scale)
rgb(252, 249, 207)  Pale Yellow (from luminance scale)
*/
/*limited reset*/
#toc {
	font: 100% Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight:normal;
	font-style:normal;
}
header h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	color: rgb(252, 249, 207);
	padding: 0px;
	margin: 0px;
}
header h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.3em;
	color: rgb(245, 245, 245);
	margin: 0px;
}
section {
	background-color: white;
	padding-left: 15px; 
	padding-right: 15px;
	border: solid 1px GRAY;
	margin: 15px;
}
section h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	color: rgb(72, 12, 59);
	margin-top: 12px;
	margin-bottom: .1em;
}
section h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 1em;
	color: rgb(72, 12, 59);
	margin-bottom: .5em;
	margin-top: .5em;	
}
section a {
	color: rgb(2, 99, 174);
}
section a:hover {
	color: rgb(251, 174, 44);
}
section ul{
	margin: 5px 8px 12px 8px;
}
section ul#listStyleImage {
	padding: 0 0 0 1em;
	list-style-image: url(../img/arrow.png);
}
section ul:ul#listStyleImage {
	padding: 0 0 0 1em;
	list-style-image: url(../img/arrow.png);
}
.col1 {
	float: left;
}
/*
#mainContent {
	-moz-column-count:4;
	-moz-column-gap:15px;
	-moz-column-width:200px;
	-webkit-column-count:4;
	-webkit-column-gap:15px;
	-webkit-column-width:200px;
	column-count:4;
	column-gap:15px;
	column-width:200px;
}*/