<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Tour | Aperture Tiles</title>
    <link rel="stylesheet" type="text/css" href="../../css/all.css">
    <link rel="stylesheet" type="text/css" href="../../jstests/test.css">
    <link rel="stylesheet" href="../../prettify/default.css">
    <link rel="SHORTCUT ICON" href="../../img/aperture-16x16.ico"/>
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/ga.js"></script>
</head>

<body>
<div id="header"></div>
<div id="content-strip">
    <div id="header-logo">
        <a href="../../"><img src="../../img/aperture-big.png"></a>
    </div>
    <div id="header-menu">
        <a href="../../" class="overview">&nbsp;</a>
        <a href="../../tour/overview/" class="selected">Tour</a>
        <a href="../../documentation/setup/">Documentation</a>
        <a href="../../demos/twitter/">Demos</a>
        <a href="https://github.com/oculusinfo/aperture-tiles" target="_blank">Download</a>
	
			<span id="testlinks">
				<a href="../../examples/tests.html">Tests</a>
			</span>
    </div>

    <div id="all">
        <div id="submenu">
            <div class="submenu-item" onclick="window.location.assign('../overview/');">
                <div class="submenu-item-background">
                    <div class="submenu-item-number">1</div>
                </div>
                <div class="submenu-item-label">Overview</div>
            </div>
            <div class="submenu-item" onclick="window.location.assign('');">
                <div class="submenu-item-background selected">
                    <div class="submenu-item-number">2</div>
                </div>
                <div class="submenu-item-label">Components</div>
            </div>
        </div>

        <div id="content">
            <div class="content-context">
                <a href="../../examples/#map-pie.html"><img src="../../img/interaction.png" class="home-image"/>
                    <br>Picture Description</a>
                <p>
                    <a href="http://www.oculusinfo.com">&#169;2013 Oculus Info Inc.</a>
            </div>
            <div class="content-body">
                <h1>Aperture Tiles Components</h1>
                Text

                <h3>Tile Generation</h3>
                Text

                <h3>Tile Server</h3>
                Text

                <h3>Tile Client</h3>
                Text

            </div>
        </div>
    </div>
</div>
</body>



</html>
