@charset "UTF-8";


.tile {
	position:relative;	
	height: 256px;
	width: 256px;
	-webkit-backface-visibility: hidden; 
			backface-visibility: hidden;
}

.topics-label {
	position: absolute;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 28px;
	line-height: 18px;
	height:18px;
}

.dark-theme .topics-label {
	color: #fff;
	text-shadow: -1px -1px 0 #000,
	              1px -1px 0 #000,
	             -1px  1px 0 #000,
	              1px  1px 0 #000,
	              1px  0   0 #000,
	             -1px  0   0 #000,
	              0    1px 0 #000,
	              0   -1px 0 #000;
}

.light-theme .topics-label {
	color: #000;
	text-shadow: -1px -1px 0 #fff,
	              1px -1px 0 #fff,
	             -1px  1px 0 #fff,
	              1px  1px 0 #fff,
	              1px  0   0 #fff,
	             -1px  0   0 #fff,
	              0    1px 0 #fff,
	              0   -1px 0 #fff;
}

.topics-label:hover {
	cursor: pointer;
	color: #D33CFF;
}

.dark-theme .topics-label.clicked {
	color: #09CFFF;
}

.light-theme .topics-label.clicked {
	color: #09CFFF;
}

